<header
  class="header"
  [class.scrolled]="isScrolled"
  [class.hovered]="isHovered"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">
  <div class="header-left">
    <button class="menu-btn" (click)="toggleMenu()">
      <mat-icon>{{ menuOpen ? 'close' : 'menu' }}</mat-icon>
      <div class="menu-label-wrapper">
        <span class="menu-label">Menu</span>
      </div>
    </button>
  </div>

  <div class="header-center">
    <a [routerLink]="['/']">
    <img
      *ngIf="!isHovered && !isScrolled"
      src="assets/img/LOGOS/logo_chic_A.png"
      alt="Logo Blanco"
      class="logo"/>
    <img
      *ngIf="isHovered || isScrolled"
      src="assets/img/LOGOS/logo_chic_B.png"
      alt="Logo Negro"
      class="logo"/>
    </a>
  </div>

  <div class="header-right">
    <div class="search-container">
      <button mat-icon-button aria-label="search" (click)="toggleSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <div class="search-box" *ngIf="searchVisible">
        <div class="search-row d-flex align-items-center gap-1">
          <input
            type="text"
            [(ngModel)]="searchQuery"
            (keydown.enter)="performSearch()"
            placeholder="Search products..."
            class="search-input"
          />
          <button class="btn-icon" (click)="performSearch()">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

        <!-- Mensaje de error bajo el input -->
        <div *ngIf="notFound" class="search-error mt-1 text-danger text-right">
          <p>No results found</p>
        </div>
      </div>
    </div>

    <button mat-icon-button aria-label="cart" (click)="toggleCartModal()">
      <mat-icon>shopping_bag</mat-icon>
      <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
    </button>
  </div>
</header>
<app-cart-modal *ngIf="showCartModal" (close)="showCartModal = false"></app-cart-modal>
<app-side-menu [isOpen]="menuOpen" [toggleMenu]="toggleMenu.bind(this)"></app-side-menu>
<div class="overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>
