<div [class.open]="isOpen" class="side-menu-content">
  <div class="close-wrapper">
    <button class="close-btn" (click)="toggleMenu()">
      <mat-icon class="close-icon">close</mat-icon>
      <span class="close-label">Close</span>
    </button>
  </div>

  <ul class="menu-list">
    <li class="pb-3">
      <span class="menu-title">Products</span>
      <ul class="submenu">
        <li class="store-link"><a [routerLink]="['/category/bags']" (click)="toggleMenu()">Bags</a></li>
        <li class="store-link"><a [routerLink]="['/category/sunglasses']" (click)="toggleMenu()">Sunglasses</a></li>
        <li class="store-link"><a [routerLink]="['/category/shoes']" (click)="toggleMenu()">Shoes</a></li>
      </ul>
    </li>

    <li class="store-link pb-3">
      <a [routerLink]="['/find-shop']" class="menu-title" (click)="toggleMenu()">Find a Shop</a>
    </li>

    <li class="store-link pb-3">
      <a [routerLink]="['/about-us']" class="menu-title" (click)="toggleMenu()">About Us</a>
    </li>

    <hr class="text-primary my-2">

    <li class="pb-3">
      <div class="menu-title text-primary d-flex justify-content-between align-items-center"
           (click)="toggleDeveloperMenu()"
           style="cursor: pointer;">
        <span>Developer's Information</span>
        <mat-icon>{{ developerMenuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
      </div>

      <ul class="submenu" *ngIf="developerMenuOpen">
        <li><a [routerLink]="['/about-me']" class="store-link text-primary" (click)="toggleMenu()"><i class="fas fa-user fa-lg"></i> | About me</a></li>
        <li><a [routerLink]="['/about-us']" class="store-link text-primary" (click)="toggleMenu()"><i class="fas fa-laptop-code fa-lg"></i> | Other Projects</a></li>
        <li><a class="store-link text-primary" (click)="onGithub();toggleMenu()"><i class="fab fa-github fa-lg"></i> | GitHub Respositories</a></li>
        <li><a class="store-link text-primary" (click)="onLinkedIn();toggleMenu()"><i class="fab fa-linkedin fa-lg"></i> | LinkedIn Profile</a></li>
      </ul>
    </li>

  </ul>
</div>
