<div [class.open]="isOpen" class="side-menu-content">
  <div class="close-wrapper">
    <button class="close-btn" (click)="toggleMenu()">
      <mat-icon class="close-icon">close</mat-icon>
      <span class="close-label">Close</span>
    </button>
  </div>

  <ul class="menu-list">
    <li class="pb-3">
      <span class="menu-title">Products</span>
      <ul class="submenu">
        <li><a [routerLink]="['/category/bags']" (click)="toggleMenu()">Bags</a></li>
        <li><a [routerLink]="['/category/sunglasses']" (click)="toggleMenu()">Sunglasses</a></li>
        <li><a [routerLink]="['/category/shoes']" (click)="toggleMenu()">Shoes</a></li>
      </ul>
    </li>

    <li class="pb-3">
      <a [routerLink]="['/find-shop']" class="menu-title" (click)="toggleMenu()">Find a Shop</a>
    </li>

    <li class="pb-3">
      <a [routerLink]="['/about-us']" class="menu-title" (click)="toggleMenu()">Chic-Shop's Mission</a>
    </li>

    <hr class="text-primary my-2">

    <li class="pb-3">
      <span class="menu-title text-primary">Developer's Information</span>
      <ul class="submenu">
        <li><a [routerLink]="['/about-us']" class="text-primary" (click)="toggleMenu()">About me</a></li>
        <li><a [routerLink]="['/about-us']" class="text-primary" (click)="toggleMenu()">Other Projects</a></li>
        <li><a [routerLink]="['/contact']" class="text-primary" (click)="toggleMenu()">Developer's Contact</a></li>
        <li><a  class="text-primary" (click)="onGithub();toggleMenu()">Repositories</a></li>
        <li><a  class="text-primary" (click)="onLinkedIn();toggleMenu()">LinkedIn</a></li>
      </ul>
    </li>
  </ul>
</div>
