<div class="detail-background-wrapper">
  <div
    class="detail-background-image"
    style="background-image: url('assets/img/BG_PAGES/2.jpg')">
  </div>

  <div class="info-page-wrapper">
    <!-- Logo ovalado y título -->
    <div class="category-header mt-3 mx-auto rounded-pill text-center custom-oval">
      <img src="assets/img/LOGOS/logo_chic_B.png" alt="Logo" class="category-logo mb-2" />
    </div>
    <div class="category-header mx-auto rounded-pill text-center custom-oval">
      <h2 class="info-subtitle">Find a Shop</h2>
    </div>

    <div class="info-content d-flex flex-column flex-md-row gap-4">
      <!-- Columna principal: mapa -->
      <div class="shop-map flex-grow-2 w-75">
        <iframe
          width="100%"
          height="450"
          style="border:0; border-radius: 8px;"
          loading="lazy"
          allowfullscreen
          [src]="selectedMapUrl | safeUrl">
        </iframe>
      </div>
      <!-- Columna lateral: direcciones -->
      <div class="shop-sidebar flex-grow-1">
        <div class="location-list w-100 w-md-4">
          <h4 class="mb-3">Our Stores 🔍</h4>
          <ul class="list-unstyled" *ngFor="let location of locations">
            <hr>
            <li
              class="mb-3"
              (click)="setMap(location.mapUrl)"
              style="cursor: pointer">
             <strong class="store-link">{{ location.name }}</strong>
            </li>
            <li>{{location.adress}}</li>
            <li>{{location.time}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
